body {
    background-color: gray;
}
.canvas{
    background-color: black;
    border: outset 5px white;
}
.container {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: none;
}
