body {
    background-color: black;
}
.canvas{
    background-color: black;
    border: outset 5px white;
}
.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: none;
}